@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.6;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  transition: all;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  padding-top: 10px;
  margin-bottom: 85px;
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 40px;
    padding-top: 0;
  }
}
.header .header__logo {
  position: relative;
  display: block;
}
.header .header__logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  color: #009BDF;
  display: block;
}
.header .developer__inner-img {
  position: absolute;
  z-index: 2;
}
.header .header__logo span {
  font-size: 23px;
  color: #333;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 20;
  background: #f6f8fa;
  left: 0;
  top: 0;
  padding: 0 20px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-items: center;
}
.header .header__inner .m-icon {
  width: 30px;
  height: 31px;
}
@media screen and (min-width: 768px) {
  .header .header__mobile {
    display: none;
  }
}
.header .menu__icon {
  width: 30px;
  height: 50p;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #000;
}
@media screen and (max-width: 768px) {
  .header .github {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header .github {
    display: block;
  }
}

.nav {
  display: block;
}
.nav .nav__list {
  display: flex;
  gap: 40px;
  padding: 0 26px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav .nav__list {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 100%;
    margin-top: 50px;
    right: 0;
    top: 356px;
    background: #F4F7F9;
    height: 100vh;
  }
  .nav .nav__list.active {
    display: block;
  }
}
.nav .nav__item {
  margin-left: 20px;
}
.nav .nav__item .nav__link {
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  line-height: 70px;
  border-top: 3px solid transparent;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  transition: all 0.5s ease-in-out;
  color: #000;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .nav .nav__item .nav__link {
    color: #000;
    font-size: 14px;
  }
}
.nav .nav__item .nav__link.current-page, .nav .nav__item .nav__link:hover {
  color: #009BDF;
  font-weight: normal;
  transition: all 0.93s;
}
@media screen and (min-width: 768px) {
  .nav .nav__item .nav__link.current-page, .nav .nav__item .nav__link:hover {
    border-top-color: none;
  }
}

#mobile__menu {
  display: block;
}
@media screen and (min-width: 768px) {
  #mobile__menu {
    display: none;
  }
}

.header__close {
  display: none;
}

.developer__inner-img {
  position: absolute;
  z-index: 1;
}

.developer__img {
  position: relative;
  z-index: 2;
}

.developers {
  background-color: #f6f8fa;
  z-index: 1;
  padding-top: 63px;
  padding-bottom: 100px;
  margin-top: -58px;
}

.developer__info-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .developer__info-inner {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .developer__info-inner {
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .developer__info-inner {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1366px) {
  .developer__info-inner {
    padding-bottom: 90px;
  }
}

.developer__inner-img {
  position: absolute;
  left: auto;
  max-width: 356px;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .developer__inner-img {
    max-width: 428px;
  }
}
@media screen and (min-width: 1366px) {
  .developer__inner-img {
    max-width: 828px;
  }
}

.developer__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 37px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .developer__img {
    max-width: 400px;
  }
}
@media screen and (min-width: 1366px) {
  .developer__img {
    max-width: 650px;
  }
}

.developer__text-caption {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
  color: #758398;
  font-weight: 600;
}
.developer__text-caption::before {
  position: absolute;
  bottom: -14px;
  content: "";
  height: 2px;
  background-color: #758398;
  width: 65px;
}

.developer__col-1-inner {
  position: relative;
  top: 46px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Playfair Display", serif;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

.developer__occu_title {
  color: #758398;
  font-weight: bold;
  margin-bottom: -23px;
  font-size: 35px;
  font-family: "Playfair Display", serif;
}

.developer__about-description {
  gap: 198px;
}

.task__skills-wrapper {
  display: flex;
  gap: 42px;
}

.developer__col-left {
  width: 100%;
}

.developer__email-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.developer__email-item span ion-icon {
  color: #009BDF;
}

.developer__call-link span i {
  color: #009BDF;
}

.developer__email-link {
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  text-transform: lowercase;
}

.developer__call-link {
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.todo {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .todo {
    padding-top: 70px;
  }
}
.todo .developer__task-inner-left {
  padding: 35px 0;
}
@media screen and (min-width: 768px) {
  .todo .developer__task-inner-left {
    display: flex;
    justify-content: center;
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
}
.todo .developer__icon-arrow {
  color: #009BDF;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .todo .developer__icon-arrow {
    height: 78px;
  }
}
.todo .developer__icon {
  color: #009BDF;
  width: 35px;
  margin-bottom: 15px;
}

.developer__task-todo-wrapper {
  text-align: center;
}
.developer__task-todo-wrapper .developer__about__skills-right {
  display: block;
}
@media screen and (min-width: 768px) {
  .developer__task-todo-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 60px;
    z-index: 1;
  }
  .developer__task-todo-wrapper .developer__task-1 .developere__task-2 .developer__task-3 {
    padding: 20px;
  }
  .developer__task-todo-wrapper .developer__task-inner-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 139px;
    width: 100%;
  }
}

.developer__task-title-left {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .developer__task-title-left {
    font-size: 20px;
  }
}

.developer__whatIdo__todo-title {
  margin: 0;
  font-size: 35px;
  padding: 0 0 12px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
@media screen and (min-width: 678px) {
  .developer__whatIdo__todo-title {
    font-size: 43px;
  }
}
@media screen and (min-width: 1366px) {
  .developer__whatIdo__todo-title {
    font-size: 50px;
  }
}

.developer__todo-description {
  color: #758398;
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow Semi Condensed", sans-serif;
}
@media screen and (min-width: 768px) {
  .developer__todo-description {
    width: 50%;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .developer__todo-description {
    font-size: 17px;
  }
}
@media screen and (min-width: 1366px) {
  .developer__todo-description {
    font-size: 17px;
  }
}

.developer__todo-box-icon {
  color: #758398;
  -moz-text-align-last: center;
       text-align-last: center;
}
@media screen and (min-width: 768px) {
  .developer__todo-box-icon {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .developer__todo-right {
    display: flex;
    justify-content: space-between;
  }
}

.task__wrapper {
  margin-bottom: 88px;
}
@media screen and (min-width: 768px) {
  .task__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.task__wrapper .developer__task {
  text-align: center;
  border-bottom: 1px solid rgba(8, 64, 136, 0.0705882353);
  padding: 35px 0px;
}
@media screen and (min-width: 768px) {
  .task__wrapper .developer__task {
    border-right: 1px solid rgba(8, 64, 136, 0.0705882353);
    border-bottom: 0;
    padding: 0 25px;
  }
}
.task__wrapper .developer__task-caption {
  color: #758398;
}

.design {
  padding-top: 100px;
}
@media screen and (min-width: 1024px) {
  .design .design__container {
    max-width: 1000px;
  }
}
.design .design__wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .design .design__wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 60px;
  }
}
.design .design__wrapper .design__column {
  flex: 1;
}
.design .design__wrapper .design__text {
  color: #758398;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  .design .design__wrapper .design__text-right {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .design .column.__reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}
.design .design__img {
  width: 250px;
  height: 250px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .design .design__img {
    width: 500px;
    height: 310px;
  }
}

.design-section-2 {
  padding-bottom: 100px;
}
.design-section-2 .design__wrapper {
  margin-bottom: 0;
}
.design-section-2 .design__img {
  margin-bottom: 0 !important;
}

.skills__title {
  font-size: 35px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  line-height: 1.8;
  margin-bottom: 40px;
}

.skills-one {
  padding: 0 10px 26px;
  font-size: 16px;
  color: #758398;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 17px;
}

.skills-column {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.skills-one {
  display: block;
  position: relative;
  margin-bottom: 25px;
}
.skills-one::before {
  position: absolute;
  bottom: 10px;
  content: "";
  height: 2px;
  background-color: #009BDF;
  width: 85%;
  border-radius: 23px;
}

.experiences {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .experiences {
    padding-top: 100px;
  }
}
.experiences .experience__wrapper .experience__box {
  padding: 0 0 65px;
}
@media screen and (min-width: 768px) {
  .experiences .experience__wrapper .experience__box {
    display: flex;
  }
}
.experiences .experience__wrapper .experience__title {
  color: #000000;
  font-size: 35px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  line-height: 1.8;
  margin-bottom: 40px;
}
.experiences .experience__wrapper .experience__box-icon {
  width: 20px;
}
.experiences .experience__wrapper .year {
  font-size: 16px;
  color: #000000;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.experiences .experience__wrapper .experience__company {
  font-size: 16px;
  color: #758398;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.4;
  padding: 0 50px 30px 0;
}
.experiences .experience__wrapper .experience__text {
  font-size: 1.294118rem;
  font-weight: 600;
  color: #009BDF;
  font-family: "Barlow Semi Condensed", sans-serif;
}
@media screen and (min-width: 1024px) {
  .experiences .experience__wrapper .experience__description {
    width: 77%;
  }
}
@media screen and (min-width: 1366px) {
  .experiences .experience__wrapper .experience__description {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .experiences .skill__Experience-inner-container {
    display: flex;
    gap: 70px;
  }
  .experiences .skill__Experience-inner-container .skill__wrapper {
    flex: 1;
  }
}

.column {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .column {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .about-page .experiences {
    padding-top: 0;
  }
}

.projects {
  background-color: #f6f8fa;
}
@media screen and (min-width: 768px) {
  .projects {
    padding-bottom: 70px;
    padding-top: 50px;
  }
}
.projects .project__wrapper {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.projects .project__title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .projects .project__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.projects .project__title {
  color: #000000;
  font-size: 34px;
  font-weight: 800;
  line-height: 111px;
  font-family: "Playfair Display", serif;
}
@media screen and (min-width: 768px) {
  .projects .project__title {
    font-size: 43px;
  }
}
@media screen and (min-width: 1366px) {
  .projects .project__title {
    font-size: 50px;
  }
}
.projects .developer__icon-arrow {
  color: #009BDF;
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .projects .developer__icon-arrow {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .projects .developer__icon-arrow {
    height: 110px;
  }
}
.projects .project__boxes .project__box {
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  width: 100%;
}
.projects .project__boxes .project__box .project__box-inner:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  transition: all 9s;
}
.projects .project__boxes .project__box img {
  border-radius: 5px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .projects .project__boxes {
    display: flex;
    gap: 30px;
    width: 100%;
  }
}

.project {
  width: 45%;
  margin: 1px;
  padding: 0.5;
  height: 17em;
  background-position: top;
  background-size: cover;
  transition: linear 10s;
  background-image: url("/images/various.png");
}

.section:hover {
  background-position: bottom;
}

.site__footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  padding-top: 100px;
}

.site__primary-footer {
  padding-bottom: 50px;
}
@media screen and (min-width: 700px) {
  .site__primary-footer {
    display: flex;
    justify-content: space-between;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.site__primary-footer .site__footer__inner-wrap .site__footer-title-wrapper .widget__title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  text-align: center;
}
.site__primary-footer .site__footer__inner-wrap .widget__text-wrapper {
  text-align: center;
}
.site__primary-footer .site__footer__inner-wrap .widget__text-wrapper .widget__getintouch {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}
.site__primary-footer .site__footer__inner-wrap .widget__text-wrapper .widget__getintouch:hover {
  color: #009BDF;
  transition: all 0.7s linear;
}
@media screen and (min-width: 1024px) {
  .site__primary-footer .site__footer__inner-wrap .widget__text-wrapper .widget__getintouch {
    font-size: 67px;
  }
}
.site__primary-footer .site__menu-container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site__primary-footer .site__menu-container {
    display: flex;
    gap: 60px;
  }
}
@media screen and (min-width: 800px) {
  .site__primary-footer .site__menu-container {
    display: flex;
    gap: 62px;
  }
}
.site__primary-footer .site__menu-container .site__menu-column-1 .site__nav-widget-title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.site__primary-footer .site__menu-container .site__menu-column-2 .site__nav-widget-title {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.site__primary-footer .site__menu-container .site__menu-item {
  display: grid;
}
.site__primary-footer .site__menu-container .site__menu-item .site__menu-link {
  font-size: 15px;
  color: #758398;
  font-weight: 400;
  text-decoration: none;
}
.site__primary-footer .site__menu-container .site__menu-item .site__menu-link:hover {
  color: #009BDF;
  transition: all 0.3s linear;
}

.site__footer-copyright p {
  text-align: center;
  color: #758398;
}

.services, .experiences {
  background-color: #f6f8fa;
}
.services .service-content, .experiences .service-content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .services .service-content, .experiences .service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.services .service__name-title, .experiences .service__name-title {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}
@media screen and (min-width: 1366px) {
  .services .service__name-title, .experiences .service__name-title {
    font-size: 83px;
  }
}
.services .service__name-title::after, .experiences .service__name-title::after {
  position: absolute;
  bottom: -5px;
  content: "";
  height: 2px;
  background-color: #758398;
  width: 44px;
}
.services .service-title, .experiences .service-title {
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  font-family: "Playfair Display", serif;
}
@media screen and (min-width: 768px) {
  .services .service-title, .experiences .service-title {
    font-size: 43px;
  }
}
@media screen and (min-width: 1024px) {
  .services .service-title, .experiences .service-title {
    font-size: 50px;
  }
}
.services .service__icon-arrow, .experiences .service__icon-arrow {
  width: 100%;
  height: 50px;
  color: #009BDF;
}
@media screen and (min-width: 768px) {
  .services .service__icon-arrow, .experiences .service__icon-arrow {
    height: 100px;
  }
}

.services {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .services {
    padding: 45px 0 50px 0;
  }
}

.project-page .services {
  padding-top: 0;
}

.about-page .services {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .about-page .services {
    padding-bottom: 50px;
  }
}

.header-developer-bg {
  background-color: #f6f8fa;
}

.contacts {
  padding-top: 50px;
}
@media screen and (min-width: 1366px) {
  .contacts {
    padding-top: 50px;
  }
}

.form {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .form {
    display: flex;
    gap: 125px;
  }
}
.form .form-title {
  font-size: 35px;
  font-weight: 600;
  margin: 15px 0;
}
@media screen and (min-width: 768px) {
  .form {
    display: flex;
  }
}
.form .form-title {
  font-size: 35px;
  font-weight: 600;
  margin: 15px 0;
}
.form .form-item {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.form .form-icon {
  background: #009bdf;
  color: #fff;
  padding: 10px;
  border-radius: 100%;
}
.form .form-link {
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

.form .form-txt {
  flex: 1;
  padding-bottom: 30px;
}

.form .form-txt h1 {
  font-weight: 600;
  color: var(--black);
  font-size: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--light-black);
}

.form .form-txt span {
  color: #758398;
  font-size: 16px;
}

.form .form-details {
  flex: 1;
}

.form .form-details input[type=text],
.form .form-details input[type=email] {
  padding: 15px 20px;
  color: var(--black);
  outline: none;
  border: 1px solid var(--grey);
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
}

.form .form-details textarea {
  padding: 15px 20px;
  color: var(--black);
  outline: none;
  border: 1px solid var(--grey);
  font-size: 14px;
  resize: none;
  width: 100%;
}

.form-btn {
  padding: 15px 25px;
  color: #fff;
  font-weight: 500;
  background: #009BDF;
  outline: none;
  border: none;
  margin: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .form {
    display: flex;
  }
  .form .form-details button {
    margin-left: 0;
  }
  .form .form-details input[type=text],
.form .form-details input[type=email],
.form .form-details textarea {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form .form-details button {
    margin-left: 0;
  }
  .form .form-details input[type=text],
.form .form-details input[type=email],
.form .form-details textarea {
    width: 100%;
    margin-left: 0;
  }
}
input, textarea {
  background: #d7d7d7;
  border-radius: 3px;
}
input:hover, textarea:hover {
  transition: 0.93s;
}

input:hover {
  border-radius: 3px;
  transition: 0.93s;
}

input#email {
  width: 100%;
}

.about-page .abouts {
  padding-bottom: 50px;
  padding-top: 48px;
}
.about-page .abouts .about__title-me {
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #009BDF;
  font-weight: 500;
}
.about-page .abouts .about__title {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #000000;
  line-height: 1.1;
  margin-bottom: 48px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-page .abouts .about__title {
    font-size: 29px;
  }
}
@media screen and (min-width: 1024px) {
  .about-page .abouts .about__title {
    font-size: 40px;
  }
}
.about-page .abouts .award__wrapper {
  width: 83;
  padding: 49px 0 61px;
}
@media screen and (min-width: 1024px) {
  .about-page .abouts .award__wrapper {
    display: flex;
  }
}
.about-page .abouts .award__wrapper .award__col {
  padding: 0 0 25px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .about-page .abouts .award__wrapper .award__col {
    flex: 1;
  }
}
.about-page .abouts .award__wrapper .award__col .award__title {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  color: #009BDF;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .about-page .abouts .award__wrapper .award__col .award__title {
    font-size: 30px;
  }
}
.about-page .award__description-1 .award__description-2 {
  width: 91%;
}
.about-page .award__description-1 {
  font-size: 17px;
  color: #000000;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-page .award__description-1 {
    font-size: 17px;
  }
}
.about-page .award__description-2 {
  font-size: 17px;
  color: #758398;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about-page .award__description-2 {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .column-wrapper {
    display: flex;
  }
}

.div {
  width: 100%;
  min-height: 50vh;
}

.parallax-section {
  padding-bottom: 350px;
  background-color: #f6f8fa;
}
@media screen and (min-width: 768px) {
  .parallax-section {
    padding-bottom: 225px;
  }
}

.parallax__text-title {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .parallax__text-title {
    font-size: 43px;
  }
}
@media screen and (min-width: 1024px) {
  .parallax__text-title {
    font-size: 50px;
  }
}

.parallax__content-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

#first {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.parallax-content {
  position: relative;
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .parallax-content {
    display: flex;
    gap: 41px;
  }
}

.parallax-column {
  flex: 1;
  position: relative;
  margin-bottom: 21px;
}

.parallax__caption {
  color: #fff;
  font-size: 17px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.box {
  background-color: lightblue;
  width: 100%;
  padding: 61px;
  list-style: none;
  position: absolute;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #009BDF;
  color: #98bfcb;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress {
  background-color: #fff;
  width: 70%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
  -webkit-animation: animateProgress 0.5s ease;
          animation: animateProgress 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.progress p {
  color: inherit;
}

@-webkit-keyframes animateProgress {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes animateProgress {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.modal .modal__container {
  overflow-y: auto;
  height: 98vh;
  width: 88%;
  margin: 0 auto;
}
.modal .modal__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .modal__title {
  color: #fff;
  font-size: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  padding: 20px 0 20px 20px;
  min-height: 62px;
}
.modal .modal__close-btn {
  position: absolute;
  right: 5px;
  font-size: 27px;
  top: 10px;
  cursor: pointer;
}
.modal .modal__next-btn {
  position: absolute;
  right: 0;
  font-size: 25px;
  cursor: pointer;
  bottom: 50%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .modal .modal__next-btn {
    bottom: 50%;
  }
}
.modal .modal__prev-btn {
  position: absolute;
  left: 0;
  font-size: 25px;
  cursor: pointer;
  bottom: 50%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .modal .modal__prev-btn {
    bottom: 50%;
  }
}
.modal button {
  background: none;
  border: 0;
  padding: 0;
  color: #fff;
}
.modal__loader {
  display: none;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__loader span {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #009BDF; /* Blue */
  border-radius: 50%;
  width: inherit;
  height: inherit;
  -webkit-animation: spin 0.3s linear infinite;
          animation: spin 0.3s linear infinite;
  display: block;
}
.modal--loading .modal__loader {
  display: block;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu__icon {
  width: 30px;
  height: 30px;
}

/* Hvr-Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

/* Hvr-Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */