
.developer__inner-img {
    position: absolute;
    z-index: 1;
  }
  
  .developer__img {
    position: relative;
    z-index: 2;
  }
  
  .developers {
  background-color: #f6f8fa;
  z-index: 1;
  padding-top: 63px;
  margin-top: -58px;
  }

.developer__info-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column-reverse; 

    
    @media screen and (min-width: 768px) {
        flex-direction: row;   
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 16px;
    }

    
    @media screen and (min-width: 1024px) {
        padding-bottom: 45px;
    }

    @media screen and (min-width: 1366px) {
        padding-bottom: 90px;
    }

    }

    .developer__inner-img {
        position: absolute;
        left: auto;
        max-width: 356px;
        right: 0;
        top: 0;
        opacity: 0.5;
        z-index: -1;

        @media screen and (min-width: 768px) {
            max-width: 428px;
        }

        @media screen and (min-width: 1366px) {
            max-width: 828px;
        }

    }
    
    .developer__img {
        width: 100%;
        object-fit: cover;
        margin-top: 37px;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        margin-bottom: 50px;
        
        @media screen and (min-width: 768px) {
        max-width: 400px;

        }
        
        @media screen and (min-width: 1366px) {
            max-width: 650px;
           
        }

    }

    .developer__text-caption {
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 25px;
        color: $secondaryColor;
        font-weight: 600;

        &::before{
            position: absolute;
            bottom: -14px;
            content: "";
            height: 2px;
            background-color: $secondaryColor;
            width: 65px;
        }
       
    } 
            .developer__col-1-inner {
                position: relative;
                top: 46px;
            }
            h1{
                font-size: 45px;
                font-weight: bold;
                line-height: 1.1;
                font-family: $fontFamliy2;


                @media screen and (min-width: 1024px) {
                    font-size: 60px;
                 }
            }
            .developer__occu_title {
                color: $secondaryColor;
                font-weight: bold;
                margin-bottom: -23px;
                font-size: 35px;
                font-family: $fontFamliy2;
            }
            .developer__about-description {
                // display: flex;
                gap: 198px;
            }
            .task__skills-wrapper {
                display: flex;
                gap: 42px;
            }
            .developer__col-left {
                width: 100%;

            }
        .developer__email-item {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .developer__email-item  span ion-icon {
            color: $primaryColor;
        }
        .developer__call-link  span i {
            color: $primaryColor;
        }
        .developer__email-link{
            font-size: 20px;
            font-family: $fontFamliy;
            text-decoration: none;
            text-transform: lowercase;
        }
        .developer__call-link{
            font-size: 20px;
            font-family: $fontFamliy;
            text-decoration: none;
            text-transform: uppercase;
        }
        


        
        
        

