.header {
    padding-top: 10px;
    margin-bottom: 85px;
    
    @media screen and (min-width: 768px) {
        min-height: 40px;
        padding-top: 0;
    }

    .header__logo {
        position: relative;
        display: block;

        &::before{
            content: "";
            position: absolute;
            background-color: #009BDF;
            width: 14px;
            height: 66px;
            bottom: 0;
            left: -8px;
        }
        a { 
            text-decoration: none;
            font-size: 30px;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: bold;
            color: #000;
            display: block;
    }
}

.header__container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.developer__inner-img {
    position: absolute;
    z-index: 2;
  }
  
    .header__logo span{
        font-size: 23px;
        color: #009BDF;
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 20;
        background: #f6f8fa;
        left: 0;
        top: 0;
        padding: 11px 18px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        // @media screen and (min-width: 768px) {
        // padding: 11px 18px;
            
        // }

        .m-icon{
            width: 30px;
            height: 30px;
        }
    }

    .header__mobile{
        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .menu__icon{
        width: 30px;
        height: 29px;
        position: absolute;
        top: 29px;
        right: 10px;
        cursor: pointer;
        color: #000;
    }
    
   
}
