.header {
    padding-top: 10px;
    margin-bottom: 85px;
    
    @media screen and (min-width: 768px) {
        min-height: 40px;
        padding-top: 0;
    }

    .header__logo {
        position: relative;
        display: block;

        a { 
            text-decoration: none;
            font-size: 30px;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: bold;
            color: #009BDF;
            display: block;
    }
}

.developer__inner-img {
    position: absolute;
    z-index: 2;
  }
  
    .header__logo span{
        font-size: 23px;
        color: #333;
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 20;
        background: #f6f8fa;
        left: 0;
        top: 0;
        padding: 0 20px 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        align-items: center;

        .m-icon{
            width: 30px;
            height: 30px;
        }
    }

    .header__mobile{
        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .menu__icon{
        width: 30px;
        height: 50p;
        position: absolute;
        top: 27px;
        right: 10px;
        cursor: pointer;
        color: #000;
    }

    .github {

        @media screen and (max-width: 768px) {
        display: none;
        }
        @media screen and (min-width: 768px) {
            display: block;
            }
    }
    
   
}
