.header {
        padding-top: 10px;
        margin-bottom: 85px;
        position: fixed;
        z-index: 20;
        background: #0a192f;
        left: 0;
        top: 0;
        right: 0;
        padding: 0 20px 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        align-items: center;
        height: 65px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    @media screen and (min-width: 768px) {
        min-height: 40px;
        padding-top: 0;
        // height: 95px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

       @media screen and (min-width: 1024px) {
        height: 65px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

     @media screen and (min-width: 1200px) {
        height: 92px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .header__logo {
        position: relative;
        display: block;

        a { 
            text-decoration: none;
            font-size: 30px;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: bold;
            color: #64ffda;
            display: block;
    }
}

.developer__inner-img {
    position: absolute;
    z-index: 2;
  }
  
    .header__logo{
        span{
        font-size: 23px;
        color: #64ffda;
        // display: none;
        }

        
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        // position: fixed;
        // z-index: 20;
        // background: #0a192f;
        // left: 0;
        // top: 0;
        // padding: 0 20px 10px;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        // align-items: center;

        .m-icon{
            width: 30px;
            height: 31px;
        }
    }

    .header__mobile{
        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .menu__icon{
        width: 30px;
        height: 50p;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
        color: #758398;
    }

    .github {

        @media screen and (max-width: 768px) {
        display: none;
        }
        @media screen and (min-width: 768px) {
            display: block;
            }
    }
    
   
}
