.nav{
    display: block;
        
    .nav__list{
        display: flex;
        gap: 40px; 
        padding: 0 26px;
        text-align: center;

        @media screen and (max-width: 768px) {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 20;
            width: 100%;
            margin-top: 50px;
            right: 0;
            top: 247px;
            background: #F4F7F9;
            padding: 53px 0;

            &.active{
                display: block;
            }
        }
    }

    .nav__item{
            margin-left: 20px;
        .nav__link{
            text-decoration: none;
            font-family: $fontFamliy;
            font-size: 14px;
            line-height: 70px;
            border-top: 3px solid transparent;
            font-weight: $regular;
            text-transform: uppercase;
            display: block;
            transition: all 0.5s ease-in-out;
            color: #000;
            letter-spacing: 1px;

            @media screen and (max-width: 768px) {
                color: #000;
                font-size: 14px;
            }

            &.current-page,
            &:hover {
                color: $primaryColor;
                border-top-color: $primaryColor;
                font-weight: normal;
                transition: all 0.93s;

                @media screen and (min-width: 768px) {
                    border-top-color: none;
                }
            }
        }
        
    }
}

#mobile__menu{
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__close{
    display: none;
}

