.projects{
    background-color: #f6f8fa;

    .project__title{
        color: #000000;
        font-size: 35px;
        font-weight: 800;
        line-height: 111px;
        font-family: $fontFamliy2;

        @media screen and (min-width: 768px) {
            font-size: 43px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 50px;
        }
    }
    .developer__icon-arrow{
        color: $primaryColor;
        width: 25%;

        @media screen and (min-width: 768px) {
            width: 12%;
        }
    }
    
    .portfolio__boxes {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        gap: 19px;
        max-width: 892px;

    }
    .project__title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .project__boxes {
        .project__box{
            padding: 10px;
        }
        // padding: 0 68px;
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
        }
    }

}
