.projects{
    background-color: #f6f8fa;

    .project__wrapper {
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 18px 0 150px;
        // padding: 100px 0 150px;

        @media screen and (max-width: 768px) {
        padding: 65px 15px 15px;
            
        }
    }
    .project__title-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        margin-bottom: 20px;
        // padding: 0 27px;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .project__title{
        color: #000000;
        font-size: 34px;
        font-weight: 800;
        line-height: 111px;
        font-family: $fontFamliy2;

        @media screen and (min-width: 768px) {
            font-size: 43px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 50px;
        }
    }
    .developer__icon-arrow{
        color: $primaryColor;
        width: 100%;
        height: 80px;

        @media screen and (min-width: 768px) {
            height: 100px;
        }

        @media screen and (min-width: 1024px) {
            height: 110px;
        }
        

    }
    
    // .portfolio__boxes {
    //     display: grid;
    //     gap: 19px;
    //     max-width: 892px;
        
    //     @media screen and (min-width: 726px) {
    //         // display: grid;
    //         grid-template-columns: 50% 50%;
    //     }
    //     @media screen and (max-width: 1024px) {
    //         display: grid;
    //         grid-template-columns: 50% 50%;
    //     }

    // }
    .project__boxes {

        .project__box{
            padding: 0 14px;
            margin-bottom: 40px;


            .project__box-inner{
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

                &:hover{
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    display: block;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all .4s linear;
    
                }

            }

        }
    
        .project__box img{
            border-radius: 5px;
            height: auto;

        }
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            width: 100%;
        }

        @media screen and (min-width: 1366px) {
            grid-template-columns: 33.33% 33.33% 33.33%;
        } 
    }

}

.project{
    width: 45%;
    margin: 1px;
    padding: 0.5;
    height: 17em;
    background-position: top;
    background-size: cover;
    transition: linear 10s;
    background-image: url('/images/various.png');
}

.section:hover{
    background-position: bottom;    
}
