.skill__wrapper{
    margin-top: 50px;
}
.skills__title {
    font-size: 35px;
    font-weight: 800;
    line-height: 111px;
    font-family: $fontFamliy2;
}

.skills-one {
    padding: 0 10px 26px;
    font-size: 16px;
    color: $secondaryColor;
    font-family: $fontFamliy;
    font-size: 17px;

}
.skills-column {
    position: relative;
}
.skills-one {
    display: block;
    position: relative;
    margin-bottom: 25px;

    &::before{
        position: absolute;
        bottom: 10px;
        content: "";
        height: 7px;
        background-color: $primaryColor;
        width: 85%;
        border-radius: 23px;
        
    }
} 
