// .skill__wrapper{

// }
.skills__title {
    font-size: 35px;
    font-weight: 800;
    font-family: $fontFamliy2;
    line-height: 1.8;
    margin-bottom: 40px;
}

.skills-one {
    padding: 0 10px 26px;
    font-size: 16px;
    color: $secondaryColor;
    font-family: $fontFamliy;
    font-size: 17px;
}

.skills-column {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}
ion-icon{
    color: #758398;
}
.skills-one {
    display: block;
    position: relative;
    margin-bottom: 25px;

    &::before{
        position: absolute;
        bottom: 10px;
        content: "";
        height: 2px;
        background-color: $primaryColor;
        width: 85%;
        border-radius: 23px;
        
    }
} 
