.skills__title {
    font-size: 35px;
    font-weight: 800;
    line-height: 111px;
    font-family: $fontFamliy2;
}

.skills-one {
    padding: 0 10px 26px;
    font-size: 16px;
    color: $secondaryColor;
    font-family: $fontFamliy;

}
.skills-column {
    position: relative;
}
.skills-one {
    display: block;
    position: relative;
    margin-bottom: 25px;

    &::before{
        position: absolute;
        bottom: 10px;
        content: "";
        height: 1px;
        background-color: #08408812;
        width: 85%;
    }
} 