.task__wrapper{
    margin-bottom: 88px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .developer__task {
        text-align: center;
        border-bottom: 1px solid #08408812;
        padding: 35px 0px;

        @media screen and (min-width: 768px) {
         border-right: 1px solid #08408812;
         border-bottom: 0;
        padding: 0 25px;
        }
        
     } 
     .developer__task-caption{
        color: $secondaryColor;
     }

}

.design{
    padding-top: 60px;
    
    .design__wrapper {
        text-align: center;
        padding-bottom: 50px;


        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 115px;
        }

        .design__column{
            flex: 1;
            margin-top: 30px;
        }
        
        .design__text{
            color: $secondaryColor;

        }

        .design__text-right {
            @media screen and(min-width: 768px) {
                width: 80%;
            }
          }
      }

      .design__img {
        border-radius: 100%;
        width: 250px;
        height: 250px;
        object-fit: cover;

        @media screen and (min-width: 768px) {
        width: 300px;
        height: 300px;
        }
      }

      .second__wrapper {
        flex-direction: column;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
        }
      }
  
}
   