.task__wrapper{
    margin-bottom: 88px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .developer__task {
        text-align: center;
        border-bottom: 1px solid #08408812;
        padding: 35px 0px;

        @media screen and (min-width: 768px) {
         border-right: 1px solid #08408812;
         border-bottom: 0;
        padding: 0 25px;
        }
        
     } 
     .developer__task-caption{
        color: $secondaryColor;
     }

}

.design{
    padding-top: 100px;

    .design__container {
        @media screen and (min-width: 1024px) {
            max-width: 1000px;
        }
      }
    
    .design__wrapper {
        text-align: center;

        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 60px;
        }

        .design__column{
            flex: 1;
        }
        
        .design__text{
            color: $secondaryColor;
            font-size: 17px;

        }

        .design__text-right {
            @media screen and(min-width: 768px) {
                width: 80%;
            }
          }
      }

      .column.__reverse {
       
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
        }
      }

      .design__img {
        width: 250px;
        height: 250px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        object-fit: cover;
        margin-bottom: 25px;

        @media screen and (min-width: 1024px) {
            width: 500px;
            height: 310px;
        }

      }
  
}
   