.todo {
    background-color: #f6f8fa;
    padding: 13px 0;

    .developer__task-inner-left {
        padding: 35px 0;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            column-gap: 19px;
        }
    }
    .developer__icon-arrow{
        color: $primaryColor;
        width: 80px;

        @media screen and (min-width: 768px) {
        width: 100px;
            
        }
    }
    .developer__icon{
        color: $primaryColor;
        width: 35px;
        margin-bottom: 15px;
    }
}
.developer__task-todo-wrapper {
    text-align: center;
    .developer__about__skills-right{
        display: block;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 60px;
        z-index: 1;
        .developer__task-1 .developere__task-2 .developer__task-3 {
            padding: 20px;
        }
        .developer__task-inner-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 139px;
            width: 100%;
        }
        }
      
    }
    .developer__task-title-left{
        font-family: $fontFamliy;
        font-weight: 600;
        font-size: 1.294118rem;
         
    }
    
    .developer__whatIdo__todo-title {
        margin: 0;
        font-size: 35px;
        padding: 0 0 12px;
        font-family: $fontFamliy2;
        font-weight: bold;
    }
    .developer__todo-description{
        color: $secondaryColor;
        font-size: 16px;
        font-weight: 400;
        font-family: $fontFamliy;

        @media screen and (min-width: 768px) {
            width: 50%;
        }
    }
    .developer__todo-box-icon{
        color: $secondaryColor;

        @media screen and (min-width:768px) {
            text-align: center;
        }
    }
    .developer__todo-right {

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            // align-items: center;
        }
    }
  
    
