.skills__title {
    font-size: 35px;
    font-weight: 800;
    line-height: 111px;
}

.skills-one {
    padding: 0 10px 26px;
}
.skills-column {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    
}

.skills-one {
    display: block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;

    &::before{
        position: absolute;
        bottom: 10px;
        content: "";
        height: 1px;
        background-color: #08408812;
        width: 100%;
    }
   
} 